@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">

        @if (User.IsInRole("Customer"))
        {
            <li> @Html.ActionLink("Home", "CustomerHome", "Customers", routeValues: null, htmlAttributes: new { id = "home", @class = "nav-link" })</li>
            <li>@Html.ActionLink("Schedule", "Create", "Schedules", routeValues: null, htmlAttributes: new { id = "home", @class = "nav-link" })</li>
            <li>@Html.ActionLink("PreviousPayments", "Budget", "Customers", routeValues: null, htmlAttributes: new { id = "home", @class = "nav-link" })</li>



        }

        @if (User.IsInRole("Employer"))
        {
            <li> @Html.ActionLink("Home", "CustomerHome", "Customers", routeValues: null, htmlAttributes: new { id = "home", @class = "nav-link" })</li>
            <li>@Html.ActionLink("Search", "Search", "Customers", routeValues: null, htmlAttributes: new { id = "home", @class = "nav-link" })</li>
            <li>@Html.ActionLink("CustomerOrders", "Create", "CustomerOrders", routeValues: null, htmlAttributes: new { id = "home", @class = "nav-link" })</li>
            //   <li>@Html.ActionLink("Payment", "Index", "Payments", routeValues: null, htmlAttributes: new { id = "home", @class = "nav-link" })</li>
            <li>@Html.ActionLink("History", "Index", "History", routeValues: null, htmlAttributes: new { id = "home", @class = "nav-link" })</li>

        }
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { id = "home", @class = "nav-link" })   </li>
        <li>@Html.ActionLink("About", "About", "Home", routeValues: null, htmlAttributes: new { id = "about", @class = "nav-link" })    </li>
        <li>@Html.ActionLink("Contact", "Contact", "Home", routeValues: null, htmlAttributes: new { id = "contact", @class = "nav-link" })   </li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
